<!DOCTYPE html>
<html>

<head>
<title>Inventario</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <nav class="navbar">
         <div class="logo">🚗 Inventario AutoPartes</div>
              <div class="menu">
                <a href="/">🏠 Inicio</a>
                <a href="/agregar">📦 Añadir Stock</a>
                <a href="/inventario">📋 Ver Inventario</a>
                <a href="/vender">💰 Vender</a>
                <a href="/historial">📝 Historial</a>
                <a href="/dashboard">📊 Dashboard</a>
         </div>
    </nav>

<h1>Sistema de Inventario</h1>

<p>Bienvenido al sistema de gestión de inventario de la empresa.</p>

</body>
</html>